@import '../variables';

.form-group {
  margin-bottom: 30px;
  position: relative;
}

.form-group select {
  min-width: 150px;
}

.select-group {
  display: flex;
  flex-direction: column;
  font-family: $r-regular;
  position: relative;
  width: 100%;
}

.form-control {
  text-align: start;
  border-radius: 25px;
  border: solid 1px #939393;
  padding: 16px 34px;
  font-family: $r-regular;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #1e1e1e;
  width: 100%;

  &::placeholder {
    color: $gray-8;
  }

  &:focus {
    border-width: 1px;
    border-color: lighten($black, 30%);
    outline: none;
    transition: all 0.2s ease-out;
  }

  &:focus + .label,
  &.has-value + .label {
    background: $white;
    top: -8px;
    left: 33px;
    font-size: 12px;
    line-height: 16px;
    padding-left: 2px;
    padding-right: 4px;
  }

  &:disabled {
    border: solid 1px $gray-3;
    color: lighten(#1e1e1e, 70%);
    cursor: not-allowed;
  }

  &.error {
    outline: 0;
    border-color: $red;

    &:disabled {
      border-color: lighten($red, 25%);
      color: lighten($red, 30%);
    }
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-transition: 'color 9999s ease-out, background-color 9999s ease-out';
    transition: 'color 9999s ease-out, background-color 9999s ease-out';
    -webkit-transition-delay: 9999s;
    transition-delay: 9999s;
  }

  &:-webkit-autofill::first-line {
    font-size: 16px;
    line-height: 1.25;
    font-family: $r-regular;
  }

  &:-webkit-autofill + .label,
  &:-webkit-autofill:hover + .label,
  &:-webkit-autofill:focus + .label,
  &:-webkit-autofill:active + .label {
    background: $white;
    top: -8px;
    left: 33px;
    font-size: 12px;
    line-height: 16px;
    padding-left: 2px;
    padding-right: 4px;
  }
}

.label {
  font-size: 16px;
  position: absolute;
  top: 18px;
  left: 30px;
  color: #5b5b5b;
  transition: all 0.2s ease-out;
  background: transparent;
  pointer-events: none;

  @media screen and (min-width: $mobile) {
    text-align: left;
  }
}
