@import '../variables';

.form-group {
  margin-bottom: 30px;
  position: relative;
}

.form-group select {
  min-width: 150px;
}

.select-group {
  display: flex;
  flex-direction: column;
  font-family: $r-regular;
  position: relative;
  width: 100%;
}

.form-control {
  text-align: start;
  border-radius: 25px;
  border: solid 1px #939393;
  padding: 16px 34px;
  font-family: $r-regular;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #1e1e1e;
  width: 100%;

  &::placeholder {
    color: $gray-4;
    // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526.
    opacity: 1;
  }

  &:disabled,
  &[readonly] {
    background-color: $white;
    cursor: not-allowed;
    // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655.
    opacity: 0.5;
  }
}

.label {
  position: absolute;
  background: $white;
  top: -8px;
  left: 33px;
  font-size: 12px;
  line-height: 16px;
  padding-left: 2px;
  padding-right: 4px;
  color: #5b5b5b;
  transition: all 0.2s ease-out;
  pointer-events: none;

  @media screen and (min-width: $mobile) {
    text-align: left;
  }
}
