@import '../variables';

.pagination-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.list-wrapper {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0 19px;
}

.button {
  background: none;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  margin-right: 11px;
  margin-left: 11px;
  height: 34px;
  width: 34px;

  &:hover {
    background: $gray-2;
  }
}

.active {
  background: $red;
  color: $white;
  cursor: default;

  &:hover {
    background: $red;
  }
}

.arrowButton {
  background: none;
  border: none;
  cursor: pointer;
  height: 34px;
  width: 34px;
  vertical-align: middle;

  &:hover {
    svg {
      path {
        fill: $dark-red;
      }
    }
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.hideArrow {
  opacity: 0.3;
}

.numText {
  padding-top: 15px;
  font-size: 12px;
  color: $gray-8;
}
