@import '../variables';

.checkbox-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  cursor: pointer;
  &.align-center {
    justify-content: center;
  }

  &.align-left {
    justify-content: flex-start;
  }

  &.align-right {
    justify-content: flex-end;
  }
  
  &.top {
    flex-direction: column-reverse;

    & > .label {
      margin-bottom: 5px;
    }
  }

  &.left {
    flex-direction: row-reverse;

    & > .label {
      margin-right: 10px;
    }
  }

  &.right {
    flex-direction: row;

    & > .label {
      margin-left: 10px;
    }
  }
}

.checkbox {
  appearance: none;
  border: solid 2px #b3b5b7;
  cursor: pointer;

  &:checked {
    border: solid 2px $gray-11;
    background-color: $gray-11;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTkiIGhlaWdodD0iMTUiIHZpZXdCb3g9IjAgMCAxOSAxNSI+CiAgICA8ZGVmcz4KICAgICAgICA8cGF0aCBpZD0icHJlZml4X19hIiBkPSJNNi43ODYgMTRMMCA3LjM4NyAyLjE1OCA1LjI5MyA2Ljc4NiA5LjggMTYuODQyIDAgMTkgMi4xMDd6Ii8+CiAgICA8L2RlZnM+CiAgICA8ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAgLjMxMykiPgogICAgICAgIDx1c2UgZmlsbD0iI0ZGRiIgeGxpbms6aHJlZj0iI3ByZWZpeF9fYSIvPgogICAgPC9nPgo8L3N2Zz4K');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;

    &.red {
      border: solid 2px $red;
      background-color: $red;
    }
  }

  &:active {
    opacity: 0.8;
  }

  &:focus {
    outline: none;
  }

  &.sm {
    height: 16px;
    width: 16px;
    min-width: 16px;
    border-radius: 2px;

    &:checked {
      background-size: contain;
    }
  }

  &.md {
    height: 24px;
    width: 24px;
    min-width: 24px;
    border-radius: 4px;
  }

  &.lg {
    height: 30px;
    width: 30px;
    min-width: 30px;
    border-radius: 5px;
  }
}

.label {
  font-size: 12px;
  font-weight: 500;
  padding-top: 5px;
}
