@import '../variables';

.checkbox-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;

  & > label {
    font-size: 12px;
    font-weight: 500;
    padding-top: 5px;
  }
}

.checkbox {
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  border: solid 2px #b3b5b7;
  cursor: pointer;

  &:checked {
    border: solid 2px $gray-11;
    background-color: $gray-11;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTkiIGhlaWdodD0iMTUiIHZpZXdCb3g9IjAgMCAxOSAxNSI+CiAgICA8ZGVmcz4KICAgICAgICA8cGF0aCBpZD0icHJlZml4X19hIiBkPSJNNi43ODYgMTRMMCA3LjM4NyAyLjE1OCA1LjI5MyA2Ljc4NiA5LjggMTYuODQyIDAgMTkgMi4xMDd6Ii8+CiAgICA8L2RlZnM+CiAgICA8ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAgLjMxMykiPgogICAgICAgIDx1c2UgZmlsbD0iI0ZGRiIgeGxpbms6aHJlZj0iI3ByZWZpeF9fYSIvPgogICAgPC9nPgo8L3N2Zz4K');
    background-position: center;
    background-repeat: no-repeat;
  }

  &:active {
    opacity: 0.8;
  }

  &:focus {
    outline: none;

    .box {
      outline: #888 dotted 1px;
    }
  }
}
