@import '../variables';
@import '../mixins/closeX';

.modal-wrapper {
  display: none;
  z-index: 1000;
  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &.active {
    display: block;
  }
}

.modal {
  background: white;
  display: block;
  max-height: 80vh;
  overflow: auto;
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 30px);
  z-index: 1001;
  overflow: hidden;

  &.round {
    border-radius: 20px;
  }

  &-children-wrapper {
    max-height: 54vh;
    overflow: auto;
    margin: 0 -15px;
    padding: 0 15px;
    
    /* width */
    &::-webkit-scrollbar {
      width: 3px;
      border-radius: 160px;
      margin: 100px;
      position: relative;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: transparent;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #a6a6a6;
      border: 3px solid #a6a6a6;
      border-radius: 160px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #888;
    }
  }

  &-content {
    padding: 60px 0 0;
  }

  &-header,
  &-subheader {
    margin: 0 0 15px;
  }

  @media screen and (min-width: $mobile) {
    width: 575px;
  }

  @media screen and (min-width: $tablet) {
    width: 50%;
  }

  @media screen and (max-height: 710px) {
	  max-height: 100%;
	}
}

.close {
  @include closeX();
  padding: 0px;

  &-icon-wrapper {
    display: flex;
    padding: 9px;
    border-radius: 50px;
    border: 1px solid $gray-6;
  }
}

.modal-backdrop {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;

  &.backdrop {
    background-color: $gray-12;
    opacity: 0.5;
  }
}