@import '../variables';
@import '../mixins/closeX';

.modal-wrapper {
  display: none;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &.active {
    display: block;
  }

  .modal-overlay {
    z-index: 1000;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .modal {
    display: block;
    background: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    padding: 20px;
    max-height: 80vh;
    overflow: auto;
    width: 50%;

    &.round {
      border-radius: 20px;
    }

    &-content {
      padding: 60px 0 0;
    }

    &-header,
    &-subheader {
      margin: 0 0 15px;
    }
  }

  .close {
    @include closeX();
    padding: 0px;

    &-icon-wrapper {
      display: flex;
      padding: 10px;
      border-radius: 50px;
      border: 1px solid $gray-6;
    }
  }

  .close:focus {
    box-shadow: 0 0 0 2px $red;
    border-radius: 50px;
    outline: 0;
    padding: 2px;
    margin-top: -2px;
    margin-right: -2px;
  }
}
