@import '../variables';

.xxl,
.xl,
.lg,
.md,
.sm,
.xs {
  font-weight: 700;
}

.xxl {
  font-size: 44px;
  line-height: 48px;
}

.xl {
  font-size: 36px;
  line-height: 40px;
}

.lg {
  font-size: 32px;
  line-height: 36px;
}

.md {
  font-size: 28px;
  line-height: 32px;
}

.sm {
  font-size: 24px;
  line-height: 28px;
}

.xs {
  font-size: 18px;
  line-height: 22px;
}

.bodySm,
.body,
.bodyLg {
  font-weight: 400;
}

.bodySm {
  font-size: 14px;
  line-height: 20px;
}

.body {
  font-size: 16px;
  line-height: 22px;
}

.bodyLg {
  font-size: 22px;
  line-height: 30px;
}

.priceLg,
.price,
.priceSale {
  font-weight: 500;
}

.price {
  font-size: 16px;
  line-height: 20px;
}

.priceLg {
  font-size: 28px;
  line-height: 32px;
  color: $red;
}

.priceSale {
  font-size: 16px;
  line-height: 20px;
  color: $red;
}
