@import '../variables';
@import '../mixins/closeX';

.tooltip-wrapper {
  display: block;
  padding: 0px;
  position: relative;
  z-index: 1;
}

.tooltip-arrow {
  backface-visibility: hidden;
  box-sizing: border-box;
  position: absolute;
  transform: translate3d(0, 0, 0);
  transform-origin: top;
  width: 15px;
  height: 15px;
  background: #ffffff;
  z-index: 100;
}
.tip-container-wrapper {
  box-sizing: content-box;
  display: table;
  position: absolute;
  transform: translate3d(0, 0, 0);
  transform-origin: top;
  z-index: 99;
}

.tip-container {
  position: relative;
  backface-visibility: hidden;
  background-color: $white;
  color: $gray-11;
  font-size: 20px;
  width: 392px;
  padding: 12px 20px;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
}

.header-wrapper {
  h6 {
    line-height: 0;
    margin-top: 20px;
    margin-bottom: 0px;
    text-transform: uppercase;
    font-weight: 900;
  }
}

.close {
  @include closeX();
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 35px;
}

.tooltip-content {
  max-width: 290px;
  white-space: initial;
  height: 60px;
  display: flex;
  align-items: center;
  line-height: 23px;
  padding-top: 10px;
}
