@import '../variables';

.tablist-wrapper {
  overflow: auto;
  position: relative;

  &::-webkit-scrollbar {
    height: 5px;
  }
}

.tablist {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0;

  @media screen and (max-width: $mobile) {
    padding-bottom: 0;
    display: flex;
    justify-content: flex-start;
  }
}

.tab-list-item {
  margin: 0 1px;
  text-align: center;
  white-space: nowrap;
  width: 100%;
}

.tab-item {
  background: none;
  border: none;
  border-bottom: 2px solid transparent;
  border-radius: 1px;
  color: $gray-11;
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: 500;
  outline: none;
  padding: 5px;
  text-decoration: none;
  transition: border-bottom 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  width: 100%;

  &:hover {
    border-bottom: 2px solid lighten($red, 40%);
  }
}

.indicator {
  background-color: $red;
  bottom: 0px;
  height: 2px;
  border-radius: 1px;
  position: absolute;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
