@import '../variables';

.tabs-wrapper {
  .tabs {
    list-style: none;
    padding-left: 0;
  }

  &.top {
    .tabs {
      display: flex;
      justify-content: space-around;
      border-bottom: 1px solid $gray-5;
      padding-bottom: 10px;
    }

    .tab-item {
      color: $black;
      text-decoration: none;
      outline: none;
      &.active {
        border-bottom: 5px solid $red;
        padding-bottom: 5px;
      }
    }
  }

  &.left {
    display: flex;
    .tabs {
      border-right: 1px solid $gray-5;
      width: 25%;
    }

    .panel {
      display: flex;
      justify-content: center;
      font-size: 16px;
      padding-left: 15px;
    }

    .tab-list-item {
      padding: 5px;
      &.active {
        border-right: 3px solid $red;
        padding-right: 5px;
      }
    }

    .tab-item {
      color: $black;
      text-decoration: none;
      outline: none;
      font-size: 16px;
    }
  }

  .panel {
    width: 100%;
    border: none;
  }
}
