@import '../variables';

.tabs-wrapper {
  .tablist-wrapper {
    position: relative;
  }

  .tablist {
    list-style: none;
    padding-left: 0;
  }

  &.top {
    .tablist {
      border-bottom: 1px solid $gray-5;
      display: flex;
      justify-content: space-around;
      padding-bottom: 10px;

      @media screen and (max-width: $mobile) {
        flex-wrap: wrap;
      }
    }

    .tab-list-item {
      @media screen and (max-width: $mobile) {
        padding: 7px;
      }
    }
  }

  &.left {
    display: flex;

    .tablist-wrapper {
      width: 25%;

      @media screen and (max-width: $mobile) {
        width: auto;
      }
    }

    .tablist {
      border-right: 1px solid $gray-5;
    }

    .panel {
      display: flex;
      justify-content: center;
      font-size: 16px;
      padding-left: 15px;
    }

    .tab-list-item {
      padding: 5px;

      @media screen and (max-width: $mobile) {
        padding: 8px;
      }
    }
  }

  .panel {
    width: 100%;
    border: none;
  }
}

.tab-item {
  color: $black;
  text-decoration: none;
  outline: none;
  font-size: 21px;
  font-weight: 700;

  @media screen and (max-width: $mobile) {
    font-size: 18px;
  }
}

.indicator {
  background-color: $red;
  position: absolute;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
