@import '../variables';
@import '../mixins/closeX';

$z-drawer-background: 1040;
$z-drawer-wrapper: 1050;
$drawer-width: 315px;

.drawer-wrapper {
  box-shadow: -2px 0 12px 0 rgba(47, 51, 55, 0.06);
  color: $gray-10;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  position: fixed;
  top: 0;
  transition: transform 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  transition-timing-function: ease;
  width: 100%;
  z-index: $z-drawer-wrapper;

  &.left {
    left: 0;
    right: auto;
    width: $drawer-width;
    will-change: left;
  }

  &.right {
    left: auto;
    right: 0;
    width: $drawer-width;
    will-change: right;
  }

  &.top {
    bottom: auto;
    height: auto;
    left: 0;
    max-height: 100%;
    right: 0;
    top: 0;
    will-change: top;
  }

  &.bottom {
    bottom: 0;
    height: auto;
    left: 0;
    max-height: 100%;
    right: 0;
    top: auto;
    will-change: bottom;
  }
}

.drawer {
  width: 315px;
}

.drawer-header {
  align-items: center;
  background-color: $white;
  display: flex;
  justify-content: flex-end;
  padding: 20px 10px 20px;
}

.drawer-body {
  background-color: $white;
  height: 100%;
  overflow: auto;
  padding: 0px 20px;
}

.close {
  @include closeX();
  padding: 0px;

  &-icon-wrapper {
    display: flex;
    padding: 10px;
    border-radius: 50px;
    border: 1px solid $gray-6;
  }
}

.drawer-backdrop {
  bottom: 0;
  left: 0;
  opacity: 0.5;
  position: fixed;
  right: 0;
  top: 0;
  z-index: $z-drawer-background;

  &.backdrop {
    background-color: $gray-12;
  }
}
