@import '../../../lib/headings.scss';

.header {
  align-items: center;
  display: flex;
  height: 60px;
  justify-content: space-between;
  margin-top: 40px;
}

.rowEnd {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
