@import '../variables';

.stepper-wrapper {
  box-sizing: border-box;
  display: flex;
  list-style: none;
  margin: 0px auto;
  padding: 5px;
  width: 100%;
}

.stepper-wrapper.vertical {
  flex-direction: column;
}

.progress-step {
  -webkit-box-flex: 1;
  box-sizing: border-box;
  display: block;
  flex: 1 1 0%;
  line-height: 12px;
  margin: 0;
  min-height: 20px;
  min-width: 28px;
  padding: 0;
  position: relative;
  opacity: 0.3;
  text-align: center;
}

.progress-step.vertical {
  min-height: 65px;
  flex: 1 1 auto;
  text-align: inherit;
}

.progress-step.active-step {
  opacity: 1;
}

.outer-circle {
  min-height: 20px;
}

.outer-circle.vertical {
  min-height: 0px;
}

.circle {
  border-radius: 50%;
  bottom: 3px;
  box-sizing: border-box;
  height: 8px;
  margin: 0 auto;
  position: relative;
  transition: all 0.3s;
  width: 8px;
  z-index: 20;
}

.circle-active {
  background-color: $white;
  bottom: 10px;
  height: 20px;
  width: 20px;
}

.circle-icon {
  bottom: 23px;
}

.circle-active.circle-icon {
  bottom: 28px;
}

.circle.vertical {
  left: 6px;
  margin: 0;
  position: absolute;
  top: 10px;
}

.circle-active.vertical {
  left: 0px;
}

.label {
  box-sizing: border-box;
  display: block;
  font-size: 14px;
  font-weight: 500;
  height: 100%;
  line-height: 20px;
  padding: 14px 9.3px;
}

.label.vertical {
  height: initial;
  line-height: initial;
  padding: 10px 0px 10px 40px;
}

.line {
  border: 1px dashed;
  border-color: $red;
  bottom: 18px;
  box-sizing: border-box;
  display: block;
  height: 0px;
  left: 60%;
  position: absolute;
  top: auto;
  transition: all 0.3s;
  width: 80%;
}

.line.vertical {
  height: 50%;
  left: 9px;
  right: auto;
  top: 35px;
  width: 0px;
}
