@import '../variables';

$slider-width: 100%;
$slider-height: 100%;

.carousel-wrapper {
  text-align: center;
  width: $slider-width;
  height: $slider-height;
  z-index: 2;
  justify-content: center;
  display: flex;
  position: relative;

  &:hover > &-control.hidden {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    transition: all 0.25s;
    color: $black;

    &.prev {
      background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronLeft-512.png);
    }

    &.next {
      background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronRight-512.png);
    }

    &.round {
      background-image: none;

      svg {
        display: block;
      }
    }

    &.legacy {
      width: 32px;
      height: 32px;
      border-radius: 50px;
      box-shadow: none;
    }

    &:focus {
      box-shadow: 0 0 0 2px $red;
      background-color: $white;

      &.prev {
        background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronLeft-512.png);
      }

      &.next {
        background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronRight-512.png);
      }

      &.round {
        background-image: none;

        svg {
          display: block;
          background-color: rgba(255, 255, 255, 0);

          circle {
            stroke: rgba(255, 255, 255, 0.5);
            fill: rgba(255, 255, 255, 0.5);
          }
        }
      }
    }
  }

  &-slider {
    overflow: hidden;
    position: relative;
    width: $slider-width;
    height: $slider-height;
    z-index: 1;
  }

  &-slides {
    display: flex;
    position: relative;
    top: 0;

    &.shifting {
      transition: left 0.2s ease-out;
    }

    .slide {
      width: $slider-width;
      max-width: $slider-width;
      height: $slider-height;
      min-height: 150px;
      cursor: grab;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      transition: left 1s;
      position: relative;
      border-radius: 2px;
    }

    &.marginless {
      margin: 0;
    }

    .grabbing {
      cursor: grabbing;
    }
  }

  &-control {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    background: $white;
    border-radius: 50px;
    border: none;
    margin-top: -20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 2;
    outline: none;

    &.mt-adjust {
      margin-top: -48px;
    }

    &.mt-adjust.legacy {
      margin-top: -41px;
    }

    svg {
      width: 100%;
      height: 100%;
    }

    &.prev,
    &.next {
      width: 35px;
      background-size: 22px;
      background-position: center;
      background-repeat: no-repeat;
      cursor: pointer;
    }

    &.prev {
      border-radius: 0 5px 5px 0;
      background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronLeft-512.png);
    }

    &.next {
      border-radius: 5px 0 0 5px;
      background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronRight-512.png);
    }

    &.prev:active,
    &.next:active {
      transform: scale(0.8);
    }

    &.round {
      background-image: none;
      width: 50px;
      display: flex;
      align-items: center;
      border-radius: 50px;
      padding: 0px;

      svg {
        display: block;
      }

      &.prev {
        transform: rotate(180deg) scaleX(-1);
      }

      &.next {
        transform: rotate(180deg);
      }
    }

    &.legacy {
      width: 32px;
      height: 32px;
      border-radius: 50px;
      box-shadow: none;
      border: 2px solid #f7f7f7;
    }

    &.hidden {
      background-image: none;
      background-color: rgba(255, 255, 255, 0);
      box-shadow: none;

      svg {
        display: none;
        background-color: rgba(255, 255, 255, 0);

        circle {
          stroke: rgba(255, 255, 255, 0.5);
          fill: rgba(255, 255, 255, 0.5);
        }
      }

      &.legacy {
        border: none;
      }
    }

    &:focus {
      box-shadow: 0 0 0 2px $red;
      background-color: $white;

      &.prev {
        background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronLeft-512.png);
      }

      &.next {
        background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronRight-512.png);
      }

      &.round {
        background-image: none;

        svg {
          display: block;
          background-color: rgba(255, 255, 255, 0);

          circle {
            stroke: rgba(255, 255, 255, 0.5);
            fill: rgba(255, 255, 255, 0.5);
          }
        }
      }
    }

    &.center {
      &.next {
        right: 40%;
      }
      &.prev {
        left: 40%;
      }

      @media only screen and (max-width: $mobile) {
        &.next {
          right: 30%;
        }
        &.prev {
          left: 30%;
        }
      }

      @media only screen and (max-width: $small-mobile) {
        &.next {
          right: 25%;
        }
        &.prev {
          left: 25%;
        }
      }
    }

    &.left {
      &.next {
        left: 10%;

        @media only screen and (max-width: $mobile) {
          left: 20%;
        }

        @media only screen and (max-width: $small-mobile) {
          left: 25%;
        }
      }
      &.prev {
        left: 1%;
      }
    }

    &.right {
      &.next {
        right: 1%;
      }
      &.prev {
        right: 10%;

        @media only screen and (max-width: $mobile) {
          right: 20%;
        }

        @media only screen and (max-width: $small-mobile) {
          right: 25%;
        }
      }
    }

    &.apart {
      &.next {
        right: 0px;
      }
      &.prev {
        left: 0px;
      }
    }

    &.top {
      top: 5%;
    }

    &.bottom {
      top: 70%;
    }
  }

  &-indicators {
    display: flex;
    width: fit-content;
    flex-direction: row;
    justify-content: center;
    margin: 5px auto;
    padding: 12px;
    cursor: pointer;

    &.dark {
      background-color: $gray-11;
    }

    .indicator-button {
      margin: 0 5px;
      outline: none;
      background-color: $gray-5;

      &.round {
        width: 10px;
        height: 10px;
        box-sizing: content-box;
        border-radius: 50%;
        border: 2px solid $gray-5;
        padding: 0;
      }

      &.bar {
        height: 5px;
        width: 5px;
        border: 2px solid $gray-5;
      }

      &:hover {
        background-color: $gray-5;
        border-color: $red;
        border: 2px solid $red;
      }

      &[data-selected='true'] {
        background-color: $red;
        border-color: $red;
      }

      &:active {
        transform: scale(0.8);
      }

      &:focus {
        border-color: $red;
        // transform: scale(1.2);
      }
    }
  }

  .sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
}
