@import '../variables';

$slider-width: 100%;
$slider-height: 100%;

.carousel-wrapper {
  text-align: center;
  width: $slider-width;
  height: $slider-height;
  z-index: 2;
  justify-content: center;
  display: flex;
  position: relative;

  &-slider {
    overflow: hidden;
    position: relative;
    width: $slider-width;
    height: $slider-height;
    z-index: 1;
  }

  &-slides {
    display: flex;
    position: relative;
    top: 0;

    &.shifting {
      transition: left 0.2s ease-out;
    }

    .slide {
      width: $slider-width;
      max-width: $slider-width;
      height: $slider-height;
      min-height: 150px;
      cursor: grab;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      transition: left 1s;
      position: relative;
      border-radius: 2px;
    }

    &.marginless {
      margin: 0;
    }

    .grabbing {
      cursor: grabbing;
    }
  }

  &-control {
    position: absolute;
    top: 40%;
    width: 35px;
    height: 35px;
    background: $white;
    border-radius: 50px;
    border: none;
    margin-top: -20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 2;
    outline: none;

    &.prev {
      background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronLeft-512.png);
    }

    &.next {
      background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronRight-512.png);
    }

    &.center {
      &.next {
        right: 40%;
      }
      &.prev {
        left: 40%;
      }

      @media only screen and (max-width: $small-mobile) {
        &.next {
          right: 35%;
        }
        &.prev {
          left: 35%;
        }  
      }
    }

    &.left {
      &.next {
        left: 10%;
        
        @media only screen and (max-width: $small-mobile) {
          left: 20%;
        }
      }
      &.prev {
        left: 1%;
      }
    }

    &.right {
      &.next {
        right: 1%;
      }
      &.prev {
        right: 10%;
        
        @media only screen and (max-width: $small-mobile) {
          right: 20%;
        }
      }
    }

    &.apart {
      &.next {
        right: 0px;

        &.middle {
          height: 50px;
          border-radius: 5px 0 0 5px;
        }
        
      }
      &.prev {
        left: 0px;

        &.middle {
          height: 50px;
          border-radius: 0 5px 5px 0;
        }
      }
    }

    &.prev,
    &.next {
      background-size: 22px;
      background-position: center;
      background-repeat: no-repeat;
      cursor: pointer;
    }

    &.prev:active,
    &.next:active {
      transform: scale(0.8);
    }

    &.hidden {
      background-image: none;
      background-color: rgba(255, 255, 255, 0);
      box-shadow: none;

      &:hover {
        background-color: rgba(255, 255, 255, 0.5);
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
        transition: all 0.25s;
        color: $black;

        &.prev {
          background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronLeft-512.png);
        }

        &.next {
          background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronRight-512.png);
        }
      }
    }

    &.top {
      top: 5%;
    }

    &.bottom {
      top: 70%;
    }

    &:focus {
      box-shadow:  0 0 0 3px $blue;
      background-color: $white;

      &.prev {
        background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronLeft-512.png);
      }

      &.next {
        background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronRight-512.png);
      }
    }
  }

  &-indicators {
    display: flex;
    width: fit-content;
    flex-direction: row;
    justify-content: center;
    margin: 5px auto;
    padding: 12px;
    cursor: pointer;

    &.dark {
      background-color: $gray-11;
    }
  
    .indicator-button {
      margin: 0 5px;
      outline: none;
      background-color: $gray-5;
  
      &.round {
        width: 10px;
        height: 10px;
        box-sizing: content-box;
        border-radius: 50%;
        border: 1px solid $gray-5;
        padding: 0;
      }
  
      &.bar {
        height: 5px;
        width: 5px;
        border: 1px solid $gray-5; 
      }
  
      &:hover {
        background-color: $gray-5;
        border-color: $red;
        border: 1px solid $red;
      }

      &[data-selected="true"] {
        background-color: $red;
        border-color: $red;
      }

      &:active {
        transform: scale(0.8);
      }

      &:focus {
        border-color: $red;
        transform: scale(1.2);
      }
    }
  }

  .sr-only {
    border: 0;
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
}

