@import '../variables';

.product-card-container {
  border: 1px solid #f1f1f2;
  width: 255px;
  margin: auto;
  border-radius: 2px;

  @media screen and (max-width: 320px) {
    width: 218px;
  }

  @media screen and (min-width: 285px) {
    width: 285px;
  }
}

.product-badge {
  border: 1px solid $red;
  border-radius: 10px;
  color: $red;
  font-weight: 500;
  font-size: 12px;
  line-height: 10px;
  text-transform: uppercase;
  padding: 5px 10px;
  margin: 15px;
}

.price-container {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}

.brand-logo {
  padding: 0;
}

.product-image {
  position: relative;

  img {
    width: 100%;
  }
}

.match-banner {
  position: absolute;
  background-color: $gray-11;
  color: $gray-2;
  padding: 5px;
  font-size: 14px;
  font-weight: bolder;
  line-height: 21px;
}

.contentCol {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  @media screen and (min-width: $mobile) {
    flex-direction: column;
  }
}

.reviewRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 15px 0;
}

.details-container {
  padding: 0 15px;

  &-title {
    font-size: 14px;
    margin: 0;

    @media screen and (min-width: $tablet) {
      font-size: 18px;
    }
  }
}

.brand-logo {
  padding: 0;
}

.reviews {
  text-align: right;
  margin: 0;
  padding-bottom: 10px;

  small {
    font-size: 9.6px;
  }

  @media screen and (min-width: $mobile) {
    padding-bottom: 3px;
    padding-left: 3px;
  }
}

.rating-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.average-rating {
  font-weight: bold;

  @media screen and (min-width: $mobile) {
    display: none;
  }
}

.size {
  display: flex;
}
