@import '../variables';

.product-card-container {
  border: 1px solid #f1f1f2;
  width: 380px;
  margin: auto;
  border-radius: 2px;

  @media screen and (max-width: $tablet) {
    min-width: 315px;
  }
}

.product-badge {
  border: 1px solid $red;
  border-radius: 10px;
  color: $red;
  font-weight: 500;
  font-size: 12px;
  line-height: 10px;
  text-transform: uppercase;
  padding: 5px 10px;
  margin: 15px;
}

.price-container {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;

  @media screen and (max-width: $mobile) {
    padding: 0 10px;
  }
}

.price {
  @media screen and (max-width: $mobile) {
    width: initial;
  }
}

.brand-logo {
  padding: 0;
}

.product-image {
  position: relative;

  img {
    width: 100%;
    min-width: 151px;
  }
}

.match-banner {
  position: absolute;
  background-color: $gray-11;
  color: $gray-2;
  padding: 5px;
  font-size: 14px;
  font-weight: bolder;
  line-height: 21px;
}

.contentCol {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  @media screen and (max-width: $mobile) {
    flex-direction: row;
  }
}

.btnContainer {
  width: 100%;
  padding: 0 15px;

  button {
    width: 100%;
    text-decoration: none;
  }

  .productPageBtn {
    width: 100%;
    text-decoration: none;
  }

  @media screen and (max-width: $mobile) {
    display: none;
  }
}

.reviewRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 15px 0;
}

.details-container {
  padding: 0 15px;

  @media screen and (max-width: $mobile) {
    padding: 0 10px;
  }

  .link {
    color: $gray-11;
    text-decoration: none;
  }

  &-title {
    font-size: 18px;
    margin-bottom: 10px;

    @media screen and (max-width: $mobile) {
      font-size: 14px;
      margin: -15px 0;
    }
  }
}

.delivery-details {
  padding: 0 15px;

  @media screen and (max-width: $mobile) {
    padding: 0 10px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  &-financing {
    margin: 0;
    font-size: 12px;

    @media screen and (max-width: $mobile) {
      width: 142px;
    }

    > a {
      color: #2d2926;
    }
  }

  .delivery {
    margin: 15px 0 20px 0;
    font-size: 14px;
    font-weight: 500;

    @media screen and (max-width: $mobile) {
      margin: 0;
      width: 129px;
      font-weight: initial;
    }

    &-date {
      font-weight: initial;

      @media screen and (max-width: $mobile) {
        font-weight: 500;
      }
    }
  }
}

.brand-logo {
  padding: 0;
}

.reviews {
  text-align: right;
  margin: 0;
  padding-bottom: 10px;

  small {
    font-size: 9.6px;
  }

  @media screen and (min-width: $mobile) {
    padding-bottom: 3px;
    padding-left: 3px;
  }
}

.rating-row {
  display: flex;
  flex-direction: row;
  align-items: center;

  &-stars {
    color: $red;

    @media screen and (max-width: $mobile) {
      margin-left: 39px;
    }
  }

  @media screen and (max-width: $mobile) {
    flex-direction: column;
    align-items: flex-end;
  }
}

.average-rating {
  font-weight: bold;

  @media screen and (min-width: $mobile) {
    display: none;
  }
}

.size {
  display: flex;
}

.store-location-btn {
  border-radius: 25px;
  border: solid 1px $gray-4;
  margin-top: 15px;
  margin-bottom: 20px;
  background-color: $white;
  cursor: pointer;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;

  @media screen and (max-width: $mobile) {
    display: flex;
    align-items: space-between;
    width: 136px;
    width: 100%;
    border: none;
    font-size: 12px;
    padding: 0;
  }

  &.align {
    justify-content: space-between;
    font-weight: initial;
  }

  &-filling {
    display: flex;
    align-items: center;

    @media screen and (max-width: $mobile) {
      flex-direction: column;
      align-items: flex-start;
      padding-right: 10px;
    }
  }

  .mapMarker {
    margin: 0 5px;

    @media screen and (max-width: $mobile) {
      display: none;
    }
  }

  .location {
    font-weight: bold;
    margin-left: 4px;

    @media screen and (max-width: $mobile) {
      margin: 0;
    }
  }

  .mobileColor {
    @media screen and (max-width: $mobile) {
      color: $green;
      text-align: left;
    }
  }
}

.mobileBtnContainer {
  @media screen and (min-width: $mobile) {
    display: none;
  }
}
