@import '../variables';

.btn {
  border-radius: 25px;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  height: 44px;
  line-height: 0.75;
  padding: 0 20px;
  text-align: center;
  text-transform: capitalize;
  transition: opacity 0.3s ease, background-color 0.3s ease, color 0.3s ease;

  &:disabled {
    cursor: not-allowed !important; // stylelint-disable-line
  }

  &:disabled:not(.link) {
    background-color: $gray-1 !important;
    color: $gray-5 !important;
    border: solid 1px $gray-3 !important;
  }

  &.sm {
    font-size: 14px;
    height: 30px;
    padding: 0px 20px;
  }

  &.md {
    font-size: 14px;
    height: 34px;
    padding: 0 30px;
  }

  &.lg {
    font-size: 16px;
    height: 44px;
    padding: 0 60px;
  }

  &.rounded {
    border-radius: 25px;
  }

  &.loading {
    pointer-events: none;
  }
}

.primary {
  background-color: $red;
  border: solid 1px $red;
  color: $white;

  &:hover,
  &:active {
    background-color: $dark-red;
    color: $white;
    border: solid 1px $dark-red;
  }
}

.secondary {
  background-color: $white;
  border: solid 1px $red;
  color: $red;

  &:hover,
  &:active {
    background-color: $dark-red;
    color: $white;
    border: solid 1px $dark-red;
  }
}

.tertiary {
  background-color: $white;
  border: solid 1px $gray-3;
  color: $gray-11;

  &:hover,
  &:active {
    background-color: $white;
    color: $gray-11;
    border: solid 1px $gray-8;
  }
}

.link {
  background: none;
  border-radius: 0px;
  color: $red;
  font-weight: 600;
  height: initial !important;
  line-height: 1.13;
  font-size: 16px;
  padding: initial !important;
  width: initial;
  text-transform: initial;
  text-decoration: none;

  &:hover {
    color: $dark-red;
  }

  &:active {
    color: $dark-red;
  }

  &.dark {
    color: $white;
  }
  &:disabled {
    color: $gray-5 !important;
  }
}

.btn-flex {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}
