@import '../variables';

.price-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #D63426;
}

.center {
  text-align: center;
  align-items: center;
}

.right {
  text-align: right;
  align-items: flex-end;
}

.price {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  margin-bottom: 0;
}
  
.price-decimal {
  height:fit-content;
  
  &-top {
    margin-bottom: auto;
    font-size: 10px;
    line-height: 16px;
  }

  &-bottom {
    margin-top: auto;
    font-size: 10px;
    line-height: 16px;
  }
}

.divider {
  margin-right: 5px;
}

.range-divider {
  white-space: pre;
}

.price-inner {
  display: flex;
  flex-direction: row;
}

.price-cut {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: $gray-11;
  
  .price-integer,
  .range-divider {
    text-decoration: line-through;
  }

  @media screen and (min-width: $mobile) {
    padding: 0;
  }

  &-percent {
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color: $gray-11;
  }

  &-value {
    color: $gray-11;
  }

  & .price-decimal-bottom {
    font-size: 5px;
    line-height: 8px;
    text-decoration: overline;
  }

  & .price-decimal-top {
    font-size: 5px;
    line-height: 11px;
    text-decoration: underline;
  }
}

.text {
  margin-right: 5px;
}