@import '../variables';
@import '../mixins/closeX';

.alert {
  align-items: center;
  border-radius: 5px;
  display: flex;
  font-size: 16px;
  margin-bottom: 1rem;
  padding: 5px 22px 5px 10px;
  position: relative;

  @media (max-width: $desktop) {
    display: block;
  }

  svg {
    vertical-align: middle;
  }
}

.alert-error {
  background-color: #fde5e6;
  border: 1px solid #ff8674;
  color: $gray-11;
}

.alertInside {
  display: inline-block;
  width: 100%;
}

.children {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.67;
  margin-top: 2px;
  text-align: center;
}

.close {
  @include closeX();
    position: absolute;
    right: 5px;
    top: 0;

  &:hover {
    opacity: 0.5;
  }
}
