@import '../variables';

.popper-wrapper {
  display: inline-block;
}

.popper-trigger {
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: $red;
}

.popper-content {
  font-size: 14px;
  background: white;
  border: 1px solid black;
  max-width: 300px;
  padding: 15px;
}

.popper-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
}
