@import '../variables';

.popper-wrapper {
  display: inline-block;
}

.popper-trigger {
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: $red;
  padding: 10px;
  cursor: pointer;

  &:focus {
    outline: 1px;
  }
}

.popper-header {
  margin-bottom: 10px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  padding: 10px;
  background-color: #ffffff;
  border-radius: 2px;
  max-width: 350px;
}

.border-standard {
  border: 1px solid black;
}

.border-shadow {
  box-shadow: 0px -1px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px rgba(0, 0, 0, 0.15);
}

.close {
  right: 0px;
  top: 0px;
  padding-bottom: 2px;
  font-size: 35px;
  line-height: 0.75;
  font-weight: normal;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
}

.close-X {
  &:focus {
    outline: 1px dashed black;
  }
}

.arrow {
  height: 1rem;
  position: absolute;
  width: 1rem;
}

.arrow::before {
  border-style: solid;
  content: '';
  display: block;
  height: 0;
  margin: auto;
  width: 0;
}

.arrow::after {
  border-style: solid;
  content: '';
  display: block;
  height: 0;
  margin: auto;
  position: absolute;
  width: 0;
}

.styleArrowTop {
  height: 1rem;
  left: 0;
  margin-top: -0.4rem;
  width: 1rem;

  &.arrow-shadow {
    top: -2px;

    &:before {
      border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
      border-width: 0 0.5rem 0.6rem 0.5rem;
      top: -2px;
    }

    &:after {
      border-width: 0 0.5rem 0.55rem 0.5rem;
    }
  }

  &.arrow-outline {
    top: 0;

    &:before {
      top: -1px;
      border-width: 0 0.5rem 0.4rem 0.5rem;
      border-color: transparent transparent black transparent;
    }

    &:after {
      border-width: 0 0.5rem 0.4rem 0.5rem;
    }
  }

  &:before {
    position: absolute;
  }

  &:after {
    border-color: transparent transparent white transparent;
  }
}

.styleArrowBottom {
  bottom: 0;
  height: 1rem;
  left: 0;
  margin-bottom: -1rem;
  width: 1rem;

  &.arrow-shadow {
    &:before {
      border-color: rgba(0, 0, 0, 0.1) transparent transparent transparent;
      border-width: 0.5rem 0.6rem 0 0.6rem;
    }

    &:after {
      border-width: 0.5rem 0.55rem 0 0.6rem;
    }
  }

  &.arrow-outline {
    &:before {
      border-color: black transparent transparent transparent;
      border-width: 0.4rem 0.5rem 0 0.5rem;
    }

    &:after {
      border-width: 0.4rem 0.5rem 0 0.5rem;
    }
  }

  &:before {
    border-color: black transparent transparent transparent;
    position: absolute;
    top: 1px;
  }

  &:after {
    border-color: white transparent transparent transparent;
  }
}

.styleArrowLeft {
  height: 1rem;
  margin-left: -0.7rem;
  width: 1rem;

  &.arrow-shadow {
    left: -2px;

    &:before {
      border-color: transparent rgba(0, 0, 0, 0.1) transparent transparent;
      border-width: 0.6rem 0.5rem 0.6rem 0;
    }

    &:after {
      border-width: 0.6rem 0.5rem 0.6rem 0;
    }
  }

  &.arrow-outline {
    left: 0;

    &:before {
      border-color: transparent black transparent transparent;
      border-width: 0.5rem 0.4rem 0.5rem 0;
    }

    &:after {
      border-width: 0.5rem 0.4rem 0.5rem 0;
    }
  }

  &:after {
    border-color: transparent white transparent transparent;
    left: 6px;
    top: 0;
  }
}

.styleArrowRight {
  height: 1rem;
  margin-right: -0.8rem;
  right: 0;
  width: 1rem;

  &.arrow-shadow {
    &:before {
      border-color: transparent transparent transparent rgba(0, 0, 0, 0.1);
      border-width: 0.6rem 0 0.6rem 0.5em;
    }

    &:after {
      border-width: 0.6rem 0 0.6rem 0.5em;
      left: 1px;
    }
  }

  &.arrow-outline {
    &:before {
      border-color: transparent transparent transparent black;
      border-width: 0.5rem 0 0.5rem 0.4em;
    }

    &:after {
      border-width: 0.5rem 0 0.5rem 0.4em;
      left: 3px;
    }
  }

  &:before {
    border-color: transparent transparent transparent black;
  }

  &:after {
    border-color: transparent transparent transparent white;
    top: 0;
  }
}
