@import '../variables';

.popper-wrapper {
  display: inline-block;
}

.popper-trigger {
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: $red;
}

// .popper-content {
//   font-size: 14px;
//   background: white;
//   border: 1px solid black;
//   max-width: 300px;
//   padding: 15px;
// }

// .popper-arrow {
//   width: 0;
//   height: 0;
//   border-style: solid;
//   position: absolute;
//   margin: 5px;
// }

.content {
  // position: relative;
  background-color: #ffffff;
  border-radius: 2px;
  border: 1px solid black;
  position: absolute;
}

.arrow {
  position: absolute;
  width: 16px;
  height: 16px;
  transform: rotate(45deg);

  // background: hotpink;
  &:after {
    position: absolute;
    width: 0;
    height: 0;
    content: '';
    pointer-events: none;
  }

  &:after {
    border: 8px solid transparent;
  }
}

.styleArrowBottom {
  bottom: -8px;

  &:after {
    left: 0;
    bottom: 0;
    // border-top-color: #ffffff;
    // border-bottom: none;
    border-color: black transparent transparent transparent;
    border-width: 0.4rem 0.5rem 0 0.5rem;
  }
}

.styleArrowTop {
  top: -8px;

  &:after {
    top: 0;
    left: 0;
    // border-bottom-color: #ffffff;
    // border-top: none;
  }
}

.styleArrowLeft {
  left: -8px;

  &:after {
    left: 0;
    top: 0;
    border-right-color: #ffffff;
    border-left: none;
  }
}

.styleArrowRight {
  right: -8px;

  &:after {
    right: 0;
    top: 0;
    border-left-color: #ffffff;
    border-right: none;
  }
}
