@import '../variables';

.hero-banner-wrapper {
  width: 100%;
  height: 323px;
  display: flex;

  @media screen and (max-width: $tablet) {
    flex-direction: column-reverse;
    height: 100%;
  }
}

.infoPanelContainer {
  width: 100%;
  padding: 45px 200px 66px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media screen and (max-width: $tablet) {
    align-items: center;
    padding: 0 0 44px 0;
  }

  .brandLogo {
    width: 100%;
    height: 100%;
    svg {
      margin-bottom: -15px;
    }
  }

  .title {
    margin-bottom: 0px;
  }

  .body {
    @media screen and (max-width: $tablet) {
      width: 350px;
      text-align: center;
    }
  }

  .btnStyles {
    margin-top: 20px;
    background-color: #3a4367;
    border: #3a4367;
    text-decoration-line: none;
    width: 225px;

    &:hover {
      background-color: lighten(#3a4367, 5%);
      border: lighten(#3a4367, 5%);
    }
  }
}

.imgContainer {
  width: 100%;

  @media screen and (max-width: $tablet) {
    img {
      width: 100%;
    }
  }
}
