@import '../variables';

.input-wrapper {
  display: flex;
  flex-direction: column;
  font-family: $r-regular;
  position: relative;
  width: 100%;
}

.inner {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.footer {
  padding-left: 16px;
  font-size: 14px;
  margin: 10px 0px;
}

.input {
  text-align: start;
  border-radius: 5px;
  border: solid 1px#B3B5B7;
  padding: 14px 15px;
  font-family: $r-regular;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #1e1e1e;
  width: 100%;

  &:hover {
    border: 1px solid #2d2926;
  }

  &::placeholder {
    color: $gray-8;
  }

  &:focus {
    border-width: 2px;
    border-color: #2d2926;
    outline: none;
    transition: all 0.2s ease-out;
  }

  &:focus + .label,
  &.has-value + .label {
    background: $white;
    top: -8px;
    left: 14px;
    font-size: 12px;
    line-height: 16px;
    padding-left: 2px;
    padding-right: 4px;
  }

  &:focus + .roundedLabel,
  &.has-value + .roundedLabel {
    margin-left: 10px;
  }

  &:disabled {
    border: solid 1px $gray-3;
    color: lighten(#1e1e1e, 70%);
    cursor: not-allowed;
  }

  &.error {
    outline: 0;
    border-color: $red;

    &:disabled {
      border-color: lighten($red, 25%);
      color: lighten($red, 30%);
    }
  }

  &.sm {
    padding: 9px 15px;
  }

  &.rounded {
    border-radius: 50px;
    padding: 14px 25px;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-transition: 'color 9999s ease-out, background-color 9999s ease-out';
    transition: 'color 9999s ease-out, background-color 9999s ease-out';
    -webkit-transition-delay: 9999s;
    transition-delay: 9999s;
  }

  &:-webkit-autofill::first-line {
    font-size: 16px;
    line-height: 1.25;
    font-family: $r-regular;
  }

  &:-webkit-autofill + .label,
  &:-webkit-autofill:hover + .label,
  &:-webkit-autofill:focus + .label,
  &:-webkit-autofill:active + .label {
    background: $white;
    top: -8px;
    font-size: 12px;
    line-height: 16px;
    padding-left: 2px;
    padding-right: 4px;
  }
}

.label {
  font-size: 14px;
  position: absolute;
  top: 18px;
  left: 15px;
  color: #2d2926;
  transition: all 0.2s ease-out;
  background: transparent;
  pointer-events: none;

  &.sm {
    top: 12px;
  }

  &.disabled {
    color: lighten(#1e1e1e, 70%);
  }

  &.roundedLabel {
    left: 25px;
  }

  &.error {
    outline: 0;
    border-color: $red;
    color: $red;

    &:disabled {
      border-color: lighten($red, 25%);
      color: lighten($red, 30%);
    }
  }

  @media screen and (min-width: $mobile) {
    text-align: left;
  }
}

.right-side {
  height: 100%;
  position: absolute;
  right: 0;
}
